<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewResultsServlet</servlet-name>
        <servlet-class>ca.sheridancollege.servlets.ViewResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllCanditatesServlet</servlet-name>
        <servlet-class>ca.sheridancollege.servlets.ListAllCandidatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CastVoteServlet</servlet-name>
        <servlet-class>ca.sheridancollege.servlets.CastVoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewResultsServlet</servlet-name>
        <url-pattern>/ViewResults.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllCanditatesServlet</servlet-name>
        <url-pattern>/ListAllCanditates.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CastVoteServlet</servlet-name>
        <url-pattern>/CastVote.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost/</param-value>
    </context-param>
    <context-param>
        <param-name>database</param-name>
        <param-value>assignment2</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>Aqualite12345!@#</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
</web-app>
